---
import { presentation } from '@config/presentation'
import { removeTrailingSlash } from '@utils/removeTrailingSlash'

const pathname = removeTrailingSlash(Astro.url.pathname)

import { getLangFromUrl, useTranslations } from '@i18n/i18n'
const t = useTranslations(getLangFromUrl(Astro.url))

const language = Astro.currentLocale

const homePath = `/${language}`
const postsPath = `/${language}/posts`
---

<header class="z-40 flex w-full flex-col gap-2 md:flex-row md:justify-between">
  <a href={homePath} class="hover:text-primary-500"
    >{presentation.mail}</a
  >

  <nav role="navigation">
    <ul role="list" class="flex flex-row gap-2">
      <li>
        <a
          href={homePath}
          class:list={{
            ["hover:text-gray-100"]: true,
            ["hover:text-primary-500"]: pathname === homePath,
            ["text-primary-700"]: pathname === homePath,
          }}>{t('site.home')}</a
        >
      </li>
      <li>/</li>
      <li>
        <a
          href={postsPath}
          class:list={{
            ["hover:text-gray-100"]: true,
            ["hover:text-primary-500"]: pathname === postsPath,
            ["text-primary-600"]: pathname === postsPath,
          }}>{t('site.posts')}</a
        >
      </li>
    </ul>
  </nav>
</header>