---
import { getLangFromUrl, useTranslations } from '@i18n/i18n'
const t = useTranslations(getLangFromUrl(Astro.url))

import { Image } from 'astro:assets'
import TOTVSLogo from '@assets/images/totvs.png'

interface ImageMetadata {
	src: string
	width: number
	height: number
	format: string
}

type Exprience = {
	company: string
	position: string
	period: string
	description: string
	logo?: ImageMetadata
}

const experiences = [
	{
		company: 'TOTVS',
		position: 'Mobile Developer',
		period: t('experience.totvs.period'),
		description: t('experience.totvs.description'),
		logo: TOTVSLogo,
	},
	{
		company: 'FK Grupo',
		position: 'Software Developer',
		period: '2019 - 2021',
		description: t('experience.fk.description'),
	},
	{
		company: 'OG Propaganda',
		position: 'Software Developer',
		period: '2017 - 2019',
		description: t('experience.og.description'),
	},
] satisfies Exprience[]
---

<article class="flex flex-col">
  <header class="flex flex-row w-full">
    <h3 class="text-primary-100 text-xl font-bold m-0 z-2">{t('site.experiences')}</h3>
  </header>

  {experiences.map((experience) => (
    <section class="flex flex-col w-full">
      <div class="gap-6 mt-6">
          <article
            class="overflow-hidden rounded-lg p-6 border border-darkslate-100 hover:border-primary-700 hover:-translate-y-2 align-start flex-none justify-start relative transform perspective-1200 w-full transition-all duration-300 ease-in-out col-span-1 h-auto"
            >
            <div class="h-full w-full">
              <div class="flex flex-col gap-2">
                <div class="xl:flex xl:flex-row xl:justify-between">
                  <div class="flex items-center gap-2">
                    {experience.logo && (
                      <Image
                        class="w-8 h-8 rounded-full"
                        decoding="async"
                        loading="eager"
                        src={experience.logo} 
                        alt={experience.company + ' - Logo'}
                      />
                    )}
                    <p class="text-primary-100 text-base font-bold m-0 z-2">{experience.company} - </p>
                    <p class="text-primary-700 text-base m-0 z-2">{experience.position}</p>
                  </div>
                  <p class="text-gray-400">{experience.period}</p>
                </div>
                {experience.description && (
                  <p class="text-primary-200 m-0 font-light text-base">{experience.description}</p>
                )}
              </div>
            </div>
          </article>
      </div>
    </section>
  ))}
</article>