---
import { getCollection } from 'astro:content'
import MainLayout from '@layouts/MainLayout.astro'

export const prerender = true

export async function getStaticPaths() {
	const posts = await getCollection('posts')
	return posts.map(post => {
		const [lang, ...slug] = post.slug.split('/')

		return {
			params: { lang, slug: slug.join('/') || undefined },
			props: { post },
		}
	})
}

const { post } = Astro.props
const { Content } = await post.render()
---
<MainLayout title={post.data.title} description={post.data.description} image={post.data.ogImage}>
  <main class="flex flex-col gap-4">
    <h1 class="text-4xl text-gray-100 font-bold">{post.data.title}</h1>
    <h2 class="text-primary-200 text-xl font-light pb-5">{post.data.description}</h2>
    <article class="text-base prose pt-5 border-t border-t-style-dashed">
      <Content />
    </article>
  </main>
</MainLayout>
